<div class=" flex justify-center my-10">
    <div class="card bg-base-300 w-96 shadow-sm" *ngFor="let card of user">
        <figure>
            <img class="w-30 h-40"
                [src]="card.photoUrl || 'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='"
                alt="user image" />
        </figure>
        <div class="card-body">
            <h2 class="card-title"> {{ card.firstName }} {{ card.lastName }}</h2>
            <p *ngIf="card.age && card.gender"> {{card.age + " " + card.gender}} </p>
            <p> {{card.about}} </p>
            <div class="card-actions justify-center my-4">
                <button class="btn btn-primary">Ignore</button>
                <button class="btn btn-secondary">Interested</button>
            </div>
        </div>
    </div>
</div>