<div class="flex justify-center my-4">

    <div class="mx-10">
        <div class="card bg-base-300 w-96 shadow-sm">
            <div class="card-body">
                <h2 class="card-title justify-center">Edit Profile</h2>
                <div *ngIf="userData">
                    <form #editForm="ngForm">
                        <fieldset class="fieldset">
                            <legend class="input-md">First Name:</legend>
                            <input type="text" class="input input-primary" [(ngModel)]="userData.firstName"
                                name="firstName" />
                            <legend class="input-md">Last Name:</legend>
                            <input type="text" class="input input-primary" name="lastName"
                                [(ngModel)]="userData.lastName" />

                            <legend class="input-md">Age:</legend>
                            <input type="text" class="input input-primary" name="age" [(ngModel)]="userData.age" />

                            <legend class="input-md">Gender:</legend>
                            <select class="select select-primary" name="gender" [(ngModel)]="userData.gender">
                                <option value="male">male</option>
                                <option value="female">female</option>
                                <option value="others">others</option>
                            </select>

                            <legend class="input-md">Photo URL:</legend>
                            <input type="text" class="input input-primary" name="photoUrl"
                                [(ngModel)]="userData.photoUrl" />

                            <legend class="input-md">Skills:</legend>
                            <input type="text" class="input input-primary" name="skills"
                                [(ngModel)]="userData.skills" />

                            <legend class="input-md">About:</legend>
                            <textarea class="textarea textarea-primary" placeholder="..." name="about"
                                [(ngModel)]="userData.about"></textarea>




                        </fieldset>
                        <p class="text-red-500"> {{editError}} </p>

                    </form>
                </div>
                <div class="card-actions justify-center">

                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- user profile view  -->

    <div *ngIf="userData">
        <div class="card bg-base-300 w-96 shadow-sm">
            <figure>
                <img class="w-30 h-40"
                    [src]="userData?.photoUrl || 'https://media.istockphoto.com/id/1341046662/vector/picture-profile-icon-human-or-people-sign-and-symbol-for-template-design.jpg?s=612x612&w=0&k=20&c=A7z3OK0fElK3tFntKObma-3a7PyO8_2xxW0jtmjzT78='"
                    alt="user image" />
            </figure>
            <div class="card-body">
                <h2 class="card-title"> {{ userData.firstName }} {{ userData.lastName }}</h2>
                <p *ngIf="userData.age && userData.gender"> {{userData.age + " " + userData.gender}} </p>
                <p> {{userData.about}} </p>
                <p> {{userData.skills}} </p>
                <div class="card-actions justify-center my-4">
                    <button class="btn btn-primary">Ignore</button>
                    <button class="btn btn-secondary">Interested</button>
                </div>
            </div>
        </div>
    </div>
    <div class="toast toast-top toast-center" #toast *ngIf="toastSwitch">
        <div class="alert alert-success">
            <span>Profile Updated successfully</span>
        </div>
    </div>
</div>