<div class=" text-center my-10 max-h-[70vh] overflow-auto">

    <h1 class="font-bold text-2xl">Connections</h1>
    <div *ngFor="let item of connectionData">
        <div class="m-4 p-4 bg-base-300 flex w-1/2 mx-auto">
            <div>
                <img [src]="item.photoUrl" class="rounded-full w-20 h-20" alt="photo">
            </div>
            <div class="mx-4 text-left">
                <h2 class="text-xl font-medium font-serif">{{item.firstName}} {{item.lastName}} </h2>
                <p *ngIf="item.age && item.gender"> {{item.age}} , {{item.gender}} </p>
                <p class="font-light text-sm">{{item.about}} </p>
            </div>
        </div>
    </div>
</div>