<div class="flex w-full flex-col lg:flex-row mt-20 " *ngIf="!setUserPremium else paidUser">
    <div class="card bg-base-300 rounded-box grid h-60 grow place-items-center">
        <h1 class="font-bold text-3xl">Gold Membership</h1>
        <ul>
            <li>- 1 Month</li>
            <li>- chat feature</li>
            <li>- blue tick</li>
            <li>- 100 connection requests per day</li>
        </ul>
        <button class="btn btn-warning" (click)="onClickBuy('gold')">Buy Gold Membership</button>
    </div>
    <div class="divider  divider-accent lg:divider-horizontal">OR</div>
    <div class="card bg-base-300 rounded-box grid h-60 grow place-items-center">
        <h1 class="font-bold text-3xl">Platinum Membership</h1>
        <ul>
            <li>- 1 Month</li>
            <li>- chat feature</li>
            <li>- blue tick</li>
            <li>- 500 connection requests per day</li>
        </ul>
        <button class="btn btn-primary" (click)="onClickBuy('platinum')">Buy Platinum Membership</button>
    </div>
</div>
<ng-template #paidUser>
    <div>you are already a premium user with {{premiumUserData.notes.membershipType}} membership! </div>
</ng-template>